/SEMESTRE 3/PROG3/ClaseInicial_Chiofalo/nbproject/private/
/SEMESTRE 3/PROG3/ClaseInicial_Chiofalo/build/
/SEMESTRE 3/PROG3/TP-Colaboracion/nbproject/private/
/SEMESTRE 3/PROG3/TP1-ParteB/nbproject/private/
/SEMESTRE 3/PROG3/TP2-ORM/nbproject/private/
/SEMESTRE 3/PROG3/ORM_EjemploClase/ORM/build/
/SEMESTRE 3/PROG3/ORM_EjemploClase/ORM/dist/
/SEMESTRE 3/PROG3/ORM_EjemploClase/ORM/nbproject/private/
/SEMESTRE 3/PROG3/ORM_EjemploClase/dist/
/SEMESTRE 3/PROG3/ORM_EjemploClase/nbproject/private/
/SEMESTRE 3/PROG3/ORM/ORM/build/
/SEMESTRE 3/PROG3/ORM/ORM/dist/
/SEMESTRE 3/PROG3/ORM/ORM/nbproject/private/
/SEMESTRE 3/PROG3/ORM-Lucio/ORM/build/
/SEMESTRE 3/PROG3/ORM-Lucio/ORM/dist/
/SEMESTRE 3/PROG3/ORM-Lucio/ORM/nbproject/private/
/SEMESTRE 3/PROG3/TP2-ORM2/build/
/SEMESTRE 3/PROG3/TP2-ORM2/dist/
/SEMESTRE 3/PROG3/TP2-ORM2/nbproject/private/
/SEMESTRE 3/PROG3/ORM_EjemploClase - copia/nbproject/private/
/SEMESTRE 3/PROG3/lalala/nbproject/private/
/SEMESTRE 3/PROG3/TP2-ORM/build/
